.DS_Store
TouchTest.xcodeproj/xcuserdata/linda.xcuserdatad/xcschemes/TouchTest.xcscheme
TouchTest.xcodeproj/project.xcworkspace/xcuserdata/linda.xcuserdatad/WorkspaceSettings.xcsettings
TouchTest.xcodeproj/project.xcworkspace/xcuserdata/linda.xcuserdatad/UserInterfaceState.xcuserstate
TouchTest.xcodeproj/xcuserdata/linda.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
